.MainDiv
{
	width:1200;
	margin-right: auto; 
	margin-left: auto;
}

.ProjectAppIcon
{
	position:relative;
	left:100;
}

.ImageScroll
{
	height:336;
	width:1200;
	background-image:url("Image/ShowImg.png");
	white-space: nowrap;
	overflow:hidden;
}

.ImageViewContainer
{
	position:relative;
}

.ImageView
{
	position:relative;
	margin-left:57;
	top:50;
}

.NextView
{
	position:relative;
	top:-180;
	left:1100;
}

.LastView
{
	position:relative;
	top:-180;
	left:30;
}

.HonorPageTitle
{
	background-color:white; 
	height:340;
}

.DecTitle
{
	margin-left:95px;
	font-size:22px;
}

.DecContent
{
	margin-left:115px;
	font-size:16.7;
}

