.ImageContain
{
	width:1200;
	height:1156;
	margin-right: auto; 
	margin-left: auto;
	background-color:white;
}

.ImageDiv
{
	margin-top:56;
	text-align:center;
	float:left;
	height:191;
	margin-left:39;
}

.HonorTitle
{
	font-size:15.8;
	margin-top:15;
}
