@charset "utf-8";

 body,p,div,header,footer,img,table,li,ui,h1,h2,h3,h4,h5,h6,textarea,input,button {
	padding: 0px;
	margin: 0px;
	border: none;
	font-family: 微软雅黑, 幼圆, Georigia, Times, serif;
}

body {
	background-image: url(/Tac/image/mainBG.png);
	font-family: 微软雅黑, 幼圆, Georigia, Times, serif;
}

img#headerimg {
	width: 980px;
}

#allcontent {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

#null {
	clear: both;
}

div.block {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 400px;
}

div.content {
	padding-bottom: 20px;
	background-color: #fcfaed;
	box-shadow: 1px 2px 5px #888;
}

.headphoto {
	height: 50px;
	float: left;
}

#addNote {
	width: 400px;
}

#addNoteBlock {
	background-image: url(../image/addNotePic.png);
	background-position: 0px 0px;
	width: 400px;
	height: 217px;
}

#publishCount {
	width: 40px;
	text-align: center;
	display: block;
	position: absolute;
	margin-top: 176px;
	margin-left: 300px;
	font-size: 21px;
	color: #aaa;
}

#addNoteBlock:hover {
	background-position: -400px 0px;
}

#addNoteBlock:active {
	background-position: 0px 0px;
}

#publish {
	width: 400px;
}

p.notecontent {
	margin: 15px;
}

.publishtime {
	float: right;
	font-size: small;
	margin-right: 5px;
}

.notetitle {
	height: 50px;
}

.ownername {
	color: #904100;
	font-size: small;
	margin-left: 50px;
	font-weight: bold;
}

p.ownername {
	padding-left: 10px;
	padding-top: 18px;
}

#right {
	width: 400px;
	float: right;
	margin-right: 80px;
}

#left {
	width: 400px;
	margin-left: 80px;
}

#publishBlock #publishContent {
	margin-top: 35px;
	margin-left: 35px;
	height: 120px;
	width: 300px;
	display: block;
	position: absolute;
	resize: none;
	background: none;
	padding: 5px;
	font-size: 20px;
	color: #555;
}

#publishBlock #submitButton {
	position: absolute;
	display: block;
	margin-top: 180px;
	margin-left: 350px;
	border: 1px solid black;
}

footer {
	clear: right;
}