@charset "utf-8";

 body,p,div,header,footer,img,table,li,ui,h1,h2,h3,h4,h5,h6,textarea,input,button {
	padding: 0px;
	margin: 0px;
	border: none;
	font-family: 微软雅黑, 幼圆, Georigia, Times, serif;
}

body {
	background-image: url(/Tac/image/mainBG.png);
	font-family: 微软雅黑, 幼圆, Georigia, Times, serif;
}

img#headerimg {
	width: 980px;
}

#wholecontent {
	top:0; 
	width:1200px; 
	margin-right: auto; 
	margin-left: auto;
}

#allcontent {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

#null {
	clear: both;
}

div.block {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 400px;
	display: block;
}

div.content {
	margin-top: 5px;
	padding-bottom: 20px;
	background-color: #fcfaed;
	box-shadow: 2px 2px 5px #888;
	border-radius: 5px;
}

div.content:hover {
	box-shadow: 1px 1px 5px #888;
}

.headphoto {
	border-radius: 19px;
   -moz-border-radius: 19px;
   -webkit-border-radius: 19px;
   overflow:hidden;
   width:38px;
   height:38px;
	float: left;
}

#addNote {
	width: 400px;
}

#addNoteBlock {
	background-image: url(../image/addNotePic.png);
	background-position: 0px 0px;
	width: 400px;
	height: 217px;
}

#publishCount {
	width: 40px;
	text-align: center;
	display: block;
	position: absolute;
	margin-top: 174px;
	margin-left: 295px;
	font-size: 21px;
	color: #aaa;
}

#addNoteBlock:hover {
	background-position: -400px 0px;
}

#addNoteBlock:active {
	background-position: 0px 0px;
}

#publish {
	width: 400px;
}

p.notecontent {
	font-size: 15px;
	margin: 15px;
}

.publishtime {
	float: right;
	font-size: small;
	margin-right: 5px;
}

.notetitle {
	padding-top: 10px;
	padding-left: 10px;
	height: 50px;
}

.ownername {
	color: #904100;
	font-size: small;
	margin-left: 50px;
	font-weight: bold;
}

p.ownername {
	padding-top: 10px;
}

#right {
	width: 400px;
	float: right;
	margin-right: 80px;
}

#left {
	width: 400px;
	margin-left: 80px;
}

#publishBlock #publishContent {
	margin-top: 32px;
	margin-left: 22px;
	height: 112px;
	width: 346px;
	display: block;
	position: absolute;
	resize: none;
	background: none;
	padding: 5px;
	font-size: 20px;
	color: #555;
}

#publishBlock #publishContent:focus {
	outline:#d6d6d6 solid 1px;
}

#publishBlock #submitButton {
	width: 25px;
	height: 22px;
	background-image: url(../image/submitbutton.png);
	background-position: 0px 0px;
	position: absolute;
	display: block;
	margin-top: 176px;
	margin-left: 355px;
}

#publishBlock #submitButton:hover {
	background-position: -25px 0px;
}

#publishBlock #submitButton:active {
	background-position: -50px 0px;
}



footer {
	clear: right;
}