.center {
	margin-left: 100px;
	margin-right: 100px;
	background-color: #b0e0e6;
}

#top {
	width: 1200px;
	margin: auto;
}

#topLogo {
	width: 340px;
	text-align: left;
	float: left;
	margin-left: 30px;
}

#topBG {
	background-color: red;
	background-repeat: no-repeat;
	margin: auto;
	height: 100px;
}

#nav {
	float: right;
}

a.nav {
	float: left;
	width: 110;
	height: 100;
	display: block;
	color: white;
	text-decoration: none;
}

a.nav>div {
	margin-top: 40px;
	width: 110px;
}

a.nav:hover {
	float: left;
	display: block;
	background: url(../Image/LinkSelect.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

td {
	text-align: center;
}

.container {
	position: relative;
	top: 60;
	left: 45px;
	width: 614;
	height: 384px;
	white-space: nowrap;
	overflow: hidden;
}

.imageWheel {
	position: relative;
	left: 0;
	top: 0;
}

.pageing {
	position: relative;
	left: 540px;
	top: -30;
	z-index: 10;
}


.loginFormDiv
{
	position:relative;
	width:242;
	height:153;
	left:830;
	top:-150;
}


.loginForm
{	
	display:none;
}


.loginAccount
{
	position:relative;
	width:240;
	height:40;
	background:url(../Image/loginAccount.png);
	border-style:none;
	padding:0 0 0 50;
	margin-top:10;
	outline: none;
	ime-mode: disabled;
	color:white;
}

.loginPassword
{
	position:relative;
	width:240;
	height:41;
	background:url(../Image/loginPassword.png);
	border-style:none;
	padding:0 0 0 50;
	margin-top:10;
	outline: none;
	ime-mode: disabled;
	color:white;
}

.loginButton
{
	position:relative;
	width:242;
	height:42;
	background:url(../Image/loginButton.png);
	border-style:none;
	margin-top:10;
}

.loginImg
{
	position:relative;
	top:-30;
	left:20;
	display:none;
}


.loginBufferBoxLogin
{
	position:relative;
	width:118;
	height:41;
	left:1060;
	top:-100;
	background-image:url(../Image/loginBufferBox.png);
}

.loginBufferLogin
{	
	width:30;
	height:17;
	background:url(../Image/loginBufferLogin.png);
	margin:12 10 15 15;
	border:0;

}

.loginBufferRegister
{
	width:30;
	height:17;
	background:url(../Image/loginBufferRegister.png);
	margin:12 10 15 15;
	border:0;
}

.loginBufferBoxCancel
{
	position:relative;
	width:118;
	height:41;
	left:1060;
	top:-100;
	background-image:url(../Image/loginBufferBox.png);
	display:none;
}

.loginBufferCancel
{	
	width:30;
	height:17;
	background:url(../Image/loginBufferCancel.png);
	margin:12 10 15 15;
	border:0;
}

.headDiv
{
 	border-radius: 19px;
   -moz-border-radius: 19px;
   -webkit-border-radius: 19px;
   overflow:hidden;
   width:38;
   height:38;
}
