.MainDiv
{
	width:1200;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
}

.helpTable
{
	margin-left:140px;
	text-align:left;
}

#cataTypeLog
{
	display:none; 
	position:absolute; 
	background:url(Image/publish/type.png); 
	z-index:999; 
	width:124px; 
	height:81px;
}

#teamType
{
	width:126; 
	height:41;
	background:url(Image/publish/new_select.png);
	font-size:14.5;
	color:#5e5e5e;
	border:none;
}

.titleFont
{
	margin-left:145px;
	font-size:18px;
	text-align:top;
}


.title
{
	width:731px;
	height:43px;
	margin-left:36px;
}


.content
{
	resize: none;
	width:731;
	height:335;
	margin-left:36px;
}

.cancelButton
{
	margin-left:579px;
	width:178;
	height:54;
	background:url(Image/publish/cancelButton.png);
	border:none;
}


.PublishButton
{
	width:178;
	height:54;
	margin-left:15px;
	background:url(Image/publish/publishButton.png);
	border:none;
}

#contentNumber
{
	color:#928d7f;
	font-size:28;
	margin-left:890;
	margin-top:-40;
}

#contentFont
{
	position:relative;
	top:-306px;
}

#create
{
	width:124px;
	height:40px;
}



#enlist
{
	width:125px;
	height:40px;
}



.TypeFont
{
	font-size:13.8;
	color:#5e5e5e;
	margin-left:16;
}
