.center {
	margin-left: 100px;
	margin-right: 100px;
	background-color: #b0e0e6;
}

body {
	background-image: url("images/mainBG.png");
	padding: 0px;
	margin: 0px;
}

#searchDiv {
	float: right; 
	margin: 10px;
	height: 50px;
	margin-right: 15px;
}

#searchTF {
	margin-right: 5px;
	background-image: url("images/searchTextField.png");
	border: hidden;
	height: 50px;
	width: 450px;
	font-size: xx-large;
	background-repeat: no-repeat;
}

#searchSb {
	margin-right: 5px;
	background-image: url("images/searchButton.png");
	width: 160px;
	height: 50px;
	border: hidden;
	background-repeat: no-repeat;
}

#searchSlt {
	margin-right: 5px;
	background-image: url("images/searchSelect.png");
	border: hidden;
	height: 50px;
	width: 160px;
	background-repeat: no-repeat;
	font-size: 26px;
	text-align: left;
	font-weight: normal;
}

#cateDiv {
	margin: 18px;
	margin-top: 80px;
	background-image: url("images/category_BG.png");
	background-repeat: no-repeat; //
	position: absolute;
	left: 100px;
	top: 100px;
	z-index: 1;
	height: 1000px;
}

#contentDiv {
	margin: 20px; //
	background-color: red;
	background-image: url("images/content_BG.png");
	background-repeat: no-repeat;
	float: right; // //
	position: absolute; //
	z-index: 4; // //
	position: relative;
	top: 10px; //
	left: 380px;
	height: 760px;
	width: 780px;
}

#catalogDiv {
	position: absolute;
	z-index: 3;
	width: 163px;
	height: 325px;
	display: none;
	background-image: url(images/searchSelectPanel.png);
	background-position-y: 8px;
	background-repeat: no-repeat;
}

input.cateBt {
	float: right; // //
	position: absolute; //
	position: relative; //
	z-index: 2;
	width: 219px;
	height: 82px;
	background-color: transparent;
	font-size: medium;
	word-spacing: normal;
	visibility: visible;
	left: 15px;
	top: 62px;
	border: hidden;
}

input.searchSltBt { //
	position: relative;
	background-color: transparent;
	width: 165px;
	height: 51px;
	text-align: left; //
	position-x: -5px;
	border: hidden;
	font-size: x-large;
	padding: 0px;
	margin: 0px;
}

img.photo_cate {
	margin: 18px;
}

p.title {
	text-align: left;
	font-weight: 900;
}

p.detail {
	text-align: left;
	font-size: 12px;
}

#download { /* 	display: none;
	visibility: hidden; */
	
}

div.catalogLeft {
	width: 219px;
	height: 82px;
	position: relative;
}

#catalogo {
	position: absolute;
	z-index: 4;
	left: 0px;
	top: 0px;
	margin: 20px;
}

div.document {
	height: 83px;
}

#cateBtDiv {
	position:relative;
	left: 16px;
	top: 60px;
}