a.NoticesItem:link {
	text-decoration:none; 
 	current:point;
	color:black;
}

a.NoticesItem:visited {
	text-decoration:none; 
 	current:point;
	color:black;
}

a.NoticesItem:hover {
	color:red;
	text-decoration: underline;
}

div.NoticesItemDiv
{
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
}


