<!-- include /Navigation/Navigation.css -->
.center {
	margin-left: 100px;
	margin-right: 100px;
}


#top {
	width: 1200px;
	margin: auto;
}

#top #topLogo {
	width: 340px;
	text-align: left;
	float: left;
	margin-left: 30px;
}

#top #topBG {
	background-image: url("Navigation/NavigationBg.png");
	background-repeat: no-repeat;
	margin: auto;
	height: 65px;
}

#top #tacnav {
	float: right;
	align: center;
}

#top a.tacnav {
	display: block;
	color: white;
	text-decoration: none;
	background-position: 50% 50%;
}

#top a.tacnav>div {
	height: 32px;
	//width: 132px;
	align: center;
}

#top a.tacnav>div>p {
	padding: 5;
}

#top a.tacnav:hover {
	float: center;
	display: block;
	background: url(Navigation/LinkSelect.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#top td {
	text-align: center;
}

#top .headDiv
{
 	border-radius: 19px;
   -moz-border-radius: 19px;
   -webkit-border-radius: 19px;
   overflow:hidden;
   width:38px;
   height:38px;
}
 <!-- end /Navigation/Navigation.css -->

