.MainDiv
{
	width:1200px;
	height:806px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
}


.account
{
	margin-left:369px;
	margin-top:57px;
	width:503px;
	height:47px;
	position:relative;
	border-style:none;
	padding:0px 0px 0px 50px;
	margin-top:10px;
	outline: none;
	ime-mode: disabled;
	background-image:url("Image/LoginFirst/nameBox.png");
}

.password:focus
{
	background-image:url("Image/LoginFirst/nameBoxSelected.png");
}

.password
{
	margin-left:369px;
	width:503px;
	height:47px;
	position:relative;
	border-style:none;
	padding:0px 0px 0px 50px;
	margin-top:10px;
	outline: none;
	ime-mode: disabled;
	background-image:url("Image/LoginFirst/passwordBox.png");
}

.password:focus
{
	background-image:url("Image/LoginFirst/passwordBoxSelected.png");
}

.Submit
{
	margin-top:44px;
	margin-left:369px;
	width:243px;
	height:50px;
	background-image:url("Image/LoginFirst/registerButton.png");
	border:none;
}

.Login
{
	margin-left:627px;
	width:243px;
	height:50px;
	margin-top:-50px;
	background-image:url("Image/LoginFirst/login.png");
	border:none;
	position:relative;
}

.loginFirst
{
	margin-left:369px;
	margin-top:76px;
}